.two-thirds {
    display: block;
    float: left;
    margin-left: 34.04255%;
    margin-right: -100%;
    width: 65.95745%;
}

.job-result {
    margin-top: 1.4em; 
    margin-bottom: 0.7em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 15%);

}
.module {
    font-family: 'Nunito Sans', sans-serif;
    
    line-height: 1.42857143;
    color: #454545;
    background-color: #fff;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 0.75em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.module-content {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom:14px;
    word-break: break-word;
    
}

.btn-primary a {
    color:white;
    text-decoration: none;
}
.job-result-title a {
    color: #323232;
    text-decoration: none;
}